.resetPasswordSection {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #FAF9FF;
}

.resetPasswordSection-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}


.resetPasswordSection-content>img {
    width: 50%;
    height: 80%;
}

.resetPasswordSection-item {
    flex: 1 1 0;
}

.validationBox>img {
    vertical-align: middle;
}


@media screen and (max-width: 1024px) {
    .resetPasswordSection-content>img {
        display: none;
    }
}