.button-linear{
    border: 50px solid transparent;
    border-image: linear-gradient(90deg, #7E6FD8 0%, #0EE5D0 98.01%) !important;
    border-image-slice: 4 !important;
    -webkit-border-radius:10%;
    -moz-border-radius:10%;
    border-radius:10%;
}
