.main-banner{
    background-image: url("./Bannerworkntour.png");
    background-repeat: no-repeat;
    background-position: center 35%;
    background-size: cover;
}

@media screen and (min-width: 2220px) {
    .main-banner{
        background-image: url("./Bannerworkntour-smal.png");
        background-repeat: no-repeat;
        background-position: center 35%;
        background-size: cover;
    }
}

@media screen and (max-height: 890px) and (max-width: 530px){
    .main-banner{
        background-image: url("./Bannerworkntour-smal.png");
        background-repeat: no-repeat;
        background-position: center 35%;
        background-size: cover;
        height: 150px;
    }
}

@media screen and (max-height: 890px) and (max-width: 768px) and (min-width:530px) {
    .main-banner{
        background-image: url("./Bannerworkntour-smal.png");
        background-repeat: no-repeat;
        background-position: center 35%;
        background-size: cover;
        height: 230px;
    }
}
