.border-linear {
    background: linear-gradient(white, white) padding-box, linear-gradient(90deg, #7E6FD8, #0EE5D0) border-box !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: transparent !important;
}

.border-linear-disabled {
    background: linear-gradient(#f2f2f2, #f2f2f2) padding-box, linear-gradient(90deg, #7E6FD8, #0EE5D0) border-box !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: transparent !important;
}

.border-linear-profile {
    background: linear-gradient(white, white) padding-box, linear-gradient(90deg, #7E6FD8, #0EE5D0) border-box !important;
    border-style: solid !important;
    border-width: 4px !important;
    border-color: transparent !important;
}

.border-plus-button {
    border: 2px solid rgba(36, 221, 193, 0.73);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #ECEFF1;
}

.background-linear {
    background: linear-gradient(90deg, #7E6FD8, #0EE5D0);
    border-radius: 18px !important;
}

.background-linear-land {
    background: linear-gradient(90deg, #7E6FD8, #0EE5D0);
    border-radius: 7px !important;
}

.border-linear-radius {
    background: linear-gradient(white, white) padding-box, linear-gradient(90deg, #7E6FD8, #0EE5D0) border-box !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: transparent !important;
    border-radius: 8px;
}

.border-linear-no-left {
    background: linear-gradient(white, white) padding-box, linear-gradient(90deg, #7E6FD8, #0EE5D0) border-box !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: transparent !important;
    border-left-style: none !important;
}

.border-linear-no-right {
    background: linear-gradient(white, white) padding-box, linear-gradient(90deg, #7E6FD8, #0EE5D0) border-box !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: transparent !important;
    border-right-style: none !important;
    border-radius: 8px;
}

.border-linear:focus {
    background: linear-gradient(white, white) padding-box, linear-gradient(90deg, #7E6FD8, #0EE5D0) border-box !important;
    border-style: solid !important;
    border-width: 2px !important;
    border-color: transparent !important;
}


.opportunities {
    background-image: url("./hosts/hostBackground.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.profile {
    background-image: url("./travelerBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-page-background {
    background-image: url("./newLandingPage/banner-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.about-page-last-background {
    background-image: url("./newLandingPage/about-last-back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
}

.about-page-top-background {
    background-image: url("./newLandingPage/about-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 52%;
    background-position-x: 52%;
}

.blog-page-banner {
    background-image: url("./blog/BlogBack.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.each-slide-effect>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 315px;
    border-radius: 1.6rem;
}

.opportunity-card {
    max-width: 300px !important;
}

.each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}

.custom-arrow-left {
    border-radius: 99px;
    /*opacity: 0.0;*/
    right: 4px !important;
    transition: 1.2s;
}

.custom-arrow-right {
    border-radius: 99px;
    /*opacity: 0.0;*/
    left: 4px !important;
    transition: 1.2s;
}

/*.custom-arrow-left:hover{*/
/*    opacity: 1;*/
/*    transition: 1s;*/
/*}*/

/*.custom-arrow-right:hover{*/
/*    opacity: 1;*/
/*    transition: 1s;*/
/*}*/

.wrapper {
    position: relative;
    width: 100%;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 100%;

}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

.slider-track {
    width: 100%;
    height: 5px;
    background-color: #8970FA;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}

input[type="range"]::-moz-range-track {
    -webkit-appearance: none;
    height: 5px;
}

input[type="range"]::-ms-track {
    -webkit-appearance: none;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.3em;
    width: 1.3em;
    background-color: #8970FA;
    cursor: pointer;
    border-radius: 99px;
    pointer-events: none;
    margin-top: -9px;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1em;
    background-color: #8970FA;
    cursor: pointer;
    border-radius: 99px;
    pointer-events: none;
    margin-top: -9px;
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #8970FA;
    cursor: pointer;
    border-radius: 99px;
    pointer-events: none;
    margin-top: -9px;
}

input{
    padding: 7px !important;
}

textarea {
    height: 140px !important;
}

.selectedTag {
    background-color: #8870F9;
}

.modalLogin {
    display: block;
    padding: 2% 15%;
}


@media screen and (max-width: 770px) {
    .reverseColumnsFlex {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
    }

    .columnsFlex {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .modalLogin {
        padding: 2% 5%;
    }

}

.empty-select option {
    color: black;
}

.empty-select {
    color: rgba(128, 128, 128, 0.6) !important;
}

.socialMediaButton {
    padding: 18px 113px !important;
    border-radius: 32px !important;

}

