
$primary:#8970FA;
//$primary:#7E6FD8;
$info: rgba(36, 221, 193, 0.73);
$radius:8px;
$checkbox-background-color:#8970FA;
$checkbox-border:.4rem solid red;
$primary-light:hsla(0, 0%, 90%,0.2);
$input-focus-box-shadow-color:hsla(0,0%,96%,0);
$input-focus-box-shadow-color:tran;
$checkbox-block-background:#8970FA;

@import "/node_modules/bulma/bulma.sass";
@import"/node_modules/react-datepicker/dist/react-datepicker.css";
@import "./custom.css";
@import "react-toastify/dist/ReactToastify.css";
@import "/node_modules/bulma-checkradio/dist/css/bulma-checkradio.min.css";